body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2C3E50;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #85929E;
  color: #2C3E50;
}

li a:hover {
  background-color: #111;
}

th{
  text-align: center;
  font-weight: bolder;
  background-color: #2C3E50
  color: white;
}
td{
  text-align: center;
}

.header {
    background-color: #2C3E50;
    text-align: center;
    padding: 2px;
    color: white;
}
.footer {
    background-color: #2C3E50;
    text-align: center;
    padding: 2px;
}
.column {
    float: right;
    margin: 0;
}

/* Left and right column */
.column.side {
    width: 15%;
}
.side.smaller {
    width: 5%;
}
.settingCol1{
  float: left;
  width: 90%;
  padding-left: 60px;
}

/* Middle column */
.column.middle {
    width: 70%;
}
.statscolumn{
    margin: 25px;
    width: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
