body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2C3E50;
}

li {
  float: left;
  font-size: 36px;
  font-weight: bolder;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #85929E;
  color: #2C3E50;
}

li a:hover {
  background-color: #111;
}

th{
  text-align: center;
  font-weight: 300;
  background-color: #2C3E50;
  color: white;
  font-size: 34px;
}
td{
  text-align: center;
  font-size: 34px;
}

h1{
  font-size: 42px;
  font-weight: 400;
}

h2{
  font-size: 34px;
  font-weight: 400;
}

#visualization{
  width: 80%;
  height: 50%;
}

#visualization2{
  width: 80%;
  height: 50%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #85929E;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#Home:hover #homeContent{
    display: block;
      position: absolute;
}
#AboutUs:hover #AboutUsContent{
    display: block;
      position: absolute;
}

#username{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 100px;
}

#password{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 100px;
}

#submitLogin{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 100px;
}

.header {
    background-color: #2C3E50;
    text-align: center;
    padding: 2px;
    color: white;
}
.footer {
    background-color: #2C3E50;
    text-align: center;
    padding: 2px;
}
.column {
    float: right;
    margin: 0;
}

/* Left and right column */
.column.side {
    width: 0%;
}
.column.side.main {
    width: 15%;
}
.side.smaller {
    width: 0%;
}
.settingCol1{
  float: left;
  width: 100%;
  padding-left: 60px;
}

/* Middle column */
.column.middle {
    width: 100%;
}
.statscolumn{
    margin: 25px;
    width: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#t01 {
  width: 100%;
  text-align: left;
}
#tCnName {
  font-size: 52px
}
#tBitPrice {
  font-size: 52px
}
#tCoin {
  font-size: 32px
}
#tPriceChng{
  font-size: 32px
}
