
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th {
    padding: 15px;
    background-color: #2C3E50;
    text-align: center;
    color: white;
    font-size: 14px;
    border: 2px solid #5374959;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr.CompanyName:nth-child(even){background-color: #2C3E50;}
tr.CompanyName:hover,td.CompanyName:hover {background-color: transparent;}
td.CompanyName{
  border: 0px solid #2C3E50;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
table.CompanyName{
  width: 5%;
}
.Crypto{
  color: #9253A0;
}
.Bot{
  color: #D7A7E3;
}
tr:hover {background-color: #ddd;}
td,th{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
td{
  font-size: 14px;
  text-align: center;
}

#rcorners1 {
  padding: 10px;
  border-top-left-radius: 25px;
}

h2 {color:#069;}
p {color:#069;}
.redbg{background-color:'Red';}
.greenbg{background-color:'Green';}
.amberbg{background-color:'Yellow';}
.comments{color:#ABB2B9;}
.pageTitle{
  color:#2C3E50;
  font-size: 30px;
}
.totalRow{
  background-color: #2C3E50;
  color: white;
  font-size: 16px;
}
.active{
  background-color: #85929E;
  color: #2C3E50;
}
.active a:link{
  color: black;
}
.active a:visited {
  color: black;
}
.LHeader{
  text-align: left;
}
.RHeader{
    text-align: right;
}
img{
  align-self: center;
}

#visualization{
  width: 80%;
  height: 50%;
}

#visualization2{
  width: 80%;
  height: 50%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #85929E;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=text], select {
    width: 60%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#enableTextBoxLong{
    width: 100%;
}
.settingsform{
  width: 25%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.settingsformCmbo{
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  background-color: #2C3E50;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.settingsformCmbo.Label{
  color: white;
}
.settingsformMain{
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  background-color: LightGray;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.settingsformLong{
  width: 25%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.settingsformsubmit{
  background-color: #85929E;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
    background-color: #2C3E50;
    text-align: center;
    padding: 2px;
}
.topnav {
    overflow: hidden;
    background-color: #2C3E50;
    margin: 0;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.header {
    background-color: #2C3E50;
    text-align: center;
    padding: 2px;
}

.column {
    float: right;
    margin: 0;
}



/* Left and right column */
.column.side {
    width: 15%;
}
.column.side.main {
    width: 15%;
}
.side.smaller {
    width: 5%;
}
.settingCol1{
  float: left;
  width: 90%;
  padding-left: 60px;
}

/* Middle column */
.column.middle {
    width: 70%;
}
.statscolumn{
    margin: 25px;
    width: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.NavBar{
    padding: 10px 10px 10px 0px;
    margin: 0;
    background-color: #2C3E50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}
.NavBarList{
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
    margin: 0;
}
.NavBarList:hover{
    background-color: black;
}
.content{
    display: none;
    left: 0;
    margin: 10px 0 0 0;
    z-index: 1;
}
.content a{
    display: inline-block;
    background-color: white;
    color: black;
    min-width: 100px;
    text-decoration: none;
    padding: 5px;
}
.content a:hover{
    background-color: #ddd;
}
.content a:hover .NavBarList{
    background-color: #ddd;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 90%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
#smallText{
    font-size: 0.75vw
}
#largeText{
    font-size: 1vw
}
#normalText{
  font-size: 0.85vw
}
#t01 {
  width: 100%;
  text-align: left;
  vertical-align: middle;
  table-layout: fixed;
  overflow-wrap: break-word;
}
