
a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: #2C3E50;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: #2C3E50;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: gray;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #2C3E50;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
  clear: both;
  width: 100%;
}

th{
  padding: 14px;
  background-color: #2C3E50;
}

td{
  padding: 14px;
}

.column {
    float: right;
    margin: 0;
}



/* Left and right column */
.column.side {
    width: 15%;
}
.column.side.main {
    width: 15%;
}
.side.smaller {
    width: 5%;
}
.settingCol1{
  float: left;
  width: 90%;
  padding-left: 60px;
}

/* Middle column */
.column.middle {
    width: 70%;
}
.statscolumn{
    margin: 25px;
    width: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
